<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenstone.mes.oa.infrastructure.mapper.DormRecordMapper">

    <select id="selectDormRecords" resultType="com.greenstone.mes.oa.dto.result.DormRecordResult"
            parameterType="com.greenstone.mes.oa.dto.query.DormRecordQuery">
        select d.city, d.address, d.room_no, d.dorm_no, dr.employee_id, dr.employee_name, dr.time, dr.bed_no,
        dr.operation
        from oa_dorm_record dr
        LEFT JOIN oa_dorm d on d.dorm_no = dr.dorm_no
        <where>
            <if test="query.cityType == @com.greenstone.mes.oa.enums.DormCityType@WUXI">and d.city = '无锡市'</if>
            <if test="query.cityType == @com.greenstone.mes.oa.enums.DormCityType@OTHER">and d.city != '无锡市'</if>
            <if test="query.dormNo != null and query.dormNo != ''">and d.dorm_no = #{query.dormNo}</if>
            <if test="query.employeeName != null and query.employeeName != ''">
                and dr.employee_name = #{query.employeeName}
            </if>
        </where>
        ORDER BY dr.time desc
    </select>

</mapper>