<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenstone.mes.machine.infrastructure.mapper.MachineOrderDetailMapper">


    <update id="updatePrice" parameterType="com.greenstone.mes.machine.application.dto.cqe.cmd.MachineOrderPriceImportCmd$Part">
        update machine_order_detail
        <set>
            unit_price = #{unitPrice},total_price=process_number*#{unitPrice}
        </set>
        where part_code = #{partCode} and part_version = #{partVersion}
    </update>

    <select id="selectOrderDetailList" parameterType="MachineOrderProgressQuery" resultType="MachineOrderProgressResult">
        SELECT
        a.order_time,
        b.id,
        b.serial_no,
        b.requirement_serial_no,
        b.provider,
        b.project_code,
        b.material_id,
        b.part_code,
        b.part_name,
        b.part_version,
        b.process_number,
        b.unit_price,
        b.total_price,
        b.process_deadline,
        b.plan_deadline,
        b.surface_treatment,
        b.raw_material,
        b.weight,
        b.hierarchy,
        b.designer,
        b.remark
        FROM
        machine_order_detail b
        LEFT JOIN machine_order a ON a.serial_no = b.serial_no
        <where>
            a.`data_status`=3
            <if test="projectCode != null and projectCode != ''">and b.project_code = #{projectCode}</if>
            <if test="partCode != null and partCode != ''">and b.part_code = #{partCode}</if>
            <if test="provider != null and provider != ''">and b.provider LIKE concat('%', #{provider}, '%') </if>
            <if test="partName != null and partName != ''">and b.part_name LIKE concat('%', #{partName}, '%') </if>
            <if test="orderStartTime != null ">and a.order_time &gt;= #{orderStartTime}</if>
            <if test="orderEndTime != null ">and a.order_time &lt;= #{orderEndTime}</if>
            <if test="processDeadlineStartTime != null ">and b.process_deadline &gt;= #{processDeadlineStartTime}</if>
            <if test="processDeadlineEndTime != null ">and b.process_deadline &lt;= #{processDeadlineEndTime}</if>
        </where>
        order by a.order_time desc,b.provider
    </select>

    <select id="selectEffectivePart" parameterType="MachineOrderDetail" resultType="MachineOrderDetail">
        SELECT
        b.id,
        b.serial_no,
        b.requirement_serial_no,
        b.provider,
        b.project_code,
        b.material_id,
        b.part_code,
        b.part_name,
        b.part_version,
        b.process_number,
        b.received_number,
        b.unit_price,
        b.total_price,
        b.process_deadline,
        b.plan_deadline,
        b.surface_treatment,
        b.raw_material,
        b.weight,
        b.hierarchy,
        b.designer,
        b.remark
        FROM
        machine_order_detail b
        LEFT JOIN machine_order a ON a.serial_no = b.serial_no
        <where>
            a.`data_status`=3
            <if test="requirementSerialNo != null and requirementSerialNo != ''">and b.requirement_serial_no = #{requirementSerialNo}</if>
            <if test="projectCode != null and projectCode != ''">and b.project_code = #{projectCode}</if>
            <if test="partCode != null and partCode != ''">and b.part_code = #{partCode}</if>
            <if test="partVersion != null and partVersion != ''">and b.part_version = #{partVersion}</if>
        </where>
    </select>

    <select id="selectEffectiveParts" parameterType="String" resultType="MachineOrderDetail">
        SELECT
        b.id,
        b.serial_no,
        b.requirement_serial_no,
        b.provider,
        b.project_code,
        b.material_id,
        b.part_code,
        b.part_name,
        b.part_version,
        b.process_number,
        b.unit_price,
        b.total_price,
        b.process_deadline,
        b.plan_deadline,
        b.surface_treatment,
        b.raw_material,
        b.weight,
        b.hierarchy,
        b.designer,
        b.remark
        FROM
        machine_order_detail b
        LEFT JOIN machine_order a ON a.serial_no = b.serial_no
        <where>
            a.`data_status`!=4 and b.requirement_serial_no = #{requirementSerialNo}
        </where>
    </select>
</mapper>