<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenstone.mes.machine.infrastructure.mapper.MachineSurfaceTreatmentMapper">


    <select id="listRecord" parameterType="MachineRecordQuery" resultType="MachineSurfaceTreatmentRecord">
        SELECT
        b.sponsor,
        b.sponsor_id,
        b.sponsor_no,
        b.`status`,
        b.handle_time,
        b.remark,
        a.id,
        a.serial_no,
        a.order_serial_no,
        a.order_detail_id,
        a.check_serial_no,
        a.check_detail_id,
        a.requirement_serial_no,
        a.project_code,
        a.material_id,
        a.part_code,
        a.part_name,
        a.part_version,
        a.process_number,
        a.handle_number,
        a.warehouse_code,
        a.provider,
        a.surface_treatment
        FROM
        machine_surface_treatment_detail a
        LEFT JOIN machine_surface_treatment b ON a.serial_no = b.serial_no
        <where>
            and b.`status`=1
            <if test="serialNo != null and serialNo != ''">and a.serial_no LIKE concat('%', #{serialNo}, '%')</if>
            <if test="projectCode != null and projectCode != ''">and a.project_code LIKE concat('%', #{projectCode}, '%')</if>
            <if test="partCode != null and partCode != ''">and a.part_code LIKE concat('%', #{partCode}, '%')</if>
            <if test="startDate != null ">and b.handle_time &gt;= #{startDate}</if>
            <if test="endDate != null ">and b.handle_time &lt;= #{endDate}</if>
        </where>
        order by a.create_time desc
    </select>

</mapper>